@{
    var mes = "";
}
<aside>
    <h3>Autores</h3>
    <ul>
        @foreach (BlogWeb.Models.Usuario u in ViewBag.Autores)
        {
            <li>@Html.ActionLink(u.Nome, "BuscaPorAutor", "Busca", new { NomeEmail = u.Nome }, null)</li>
        }
    </ul>
    <h3>Posts por Mês</h3>
    <ul>
        @foreach (BlogWeb.Models.PostsPorMes u in ViewBag.PublicadosData)
        {

            switch (u.Mes)
            {
                case 1: mes = "Janeiro"; break;
                case 2: mes = "Fevereiro"; break;
                case 3: mes = "Março"; break;
                case 4: mes = "Abril"; break;
                case 5: mes = "Maio"; break;
                case 6: mes = "Junho"; break;
                case 7: mes = "Julho"; break;
                case 8: mes = "Agosto"; break;
                case 9: mes = "Setembro"; break;
                case 10: mes = "Outubro"; break;
                case 11: mes = "Novembro"; break;
                case 12: mes = "Dezembro"; break;
            }
            
            <li>@Html.ActionLink(mes + "/" + u.Ano + " (" + u.Quantidade + ")", "BuscaPorMes", "Busca", new { Mes = u.Mes, Ano = u.Ano }, null)</li>
        }
    </ul>
</aside>
